<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (guest) { %>
        <form class="add-guest-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first-name" value="<%= guest.first_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="last-name" value="<%= guest.last_name %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" value="<%= guest.user_name %>" required disabled title="Username cannot be edited.">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="overnight_accomodations">Overnight Accomodations</label>
                    <select id="overnight_accomodations" name="overnight_accomodations" class="form-control" required>
                        <option selected><%= guest.overnight_accomodations %></option>
                        <option>None (local)</option>
                        <option>Sawyer Hotel</option>
                        <option>Other Location</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="dietary_restrictions">Dietary Retrictions</label>
                    <select id="dietary_restrictions" name="dietary_restrictions" class="form-control" required>
                        <option selected><%= guest.dietary_restrictions %></option>
                        <option>None</option>
                        <option>Vegetarian</option>
                        <option>Vegan</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Update Guest</button>
        </form>
    <% } else { %>
        <p class="text-center">Player Not Found. Go <a href="/add">here</a> to add guests.</p>
    <% } %>
</div>
</div>
</body>
</html>